**Exercises**



```
# This is formatted as code
```


Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4
print(7**4)

2401

** Split this string:**

s = "Hi there Sam!"

into a list.

In [2]:
s="Hi there sam!"
s.split()

['Hi', 'there', 'sam!']

** Given the variables:**

planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers

In [3]:
planet="Earth"
diameter="12742"
print("The diameter of{} is {} kilometers.".format(planet,diameter))

The diameter ofEarth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [4]:
I = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

d= {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
I[3][1][2][0]
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [6]:
#tuple-im mutable
#list -mutable

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [7]:
def domainGet(email):
    return email.split('@')[-1]

In [8]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [9]:
def findDog(st):
    return 'dog' in st.lower().split()

In [10]:
findDog('Isthere a dog here')

True


** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word=='dog':
            count+= 1
    return count

In [13]:
countDog('This dogs runs faster than the other dog dude!')

1


Problem
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [15]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [16]:
caught_speeding(81,False)

'Big Ticket'

In [17]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [18]:
employee_salary = [2000,3000,4000,5000,6000]
total_salary = 0
for salary  in employee_salary:
  total_salary+=salary
  print(salary)

2000
3000
4000
5000
6000

In [19]:
print(total_salary)

20000

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [20]:
dict1 = {'Empid':1, 'Empname':'kalai','Basicpay':15000}
dict2 = {'DeptName':'computer science','DepId':104}
dict3 = {**dict1,**dict2}
print(dict3)

{'Empid': 1, 'Empname': 'kalai', 'Basicpay': 15000, 'DeptName': 'computer science', 'DepId': 104}